<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/../static/style.css" />
    <title>Select Interests</title>
  </head>
  <body>
    <h2>Select Your Interests</h2>
    <form action="/generate" method="post">
      <label><input type="checkbox" name="tags" value="motivation"> Motivation</label>
      <label><input type="checkbox" name="tags" value="sports"> Sports</label>
      <label><input type="checkbox" name="tags" value="programming"> Programming</label>
      <label><input type="checkbox" name="tags" value="music"> Music</label>
      <label><input type="checkbox" name="tags" value="art"> Art</label>
      <label><input type="checkbox" name="tags" value="travel"> Travel</label>
      <button type="submit">Generate Quote</button>
    </form>
  </body>
</html>
